{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img class="profilePicture" id="currentUser" src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers

      <br/><br/>
      {% if showForm %}
        <form action="/tweets" method="POST">
          <h4>Write a new tweet:</h4>
          <label for="name_field">Name:</label><br />
          <input name="name" type="text" id="name_field" value="{{ userName }}"/>
          <br />
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 250px;" value="your tweet here"/>

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="row">
        <a href="/users/{{tweet.userName}}">
          <img src="http://pipsum.com/435x310.jpg" class="profilePicture col-sm-3">
        </a>
          <div class="col-sm-9">
        <h5><a href="/users/{{tweet.userName}}">{{tweet.name}}</a> <span class="username">@{{tweet.userName}}</span></h5>
        <p><a class="tweetText" href="/tweets/{{tweet.id}}">{{tweet.content}}</a></p>
      </div>
      </div>
      <br/>
      {% endfor %}
    </div>
  </div>

{% endblock %}
